* {
  font-family: Poppins;
  font-weight: 700;
}

#calculator {
  height: 576px;
  width: 506px;
  margin-left: 2vw;
  border-radius: 17px;
  border: 2px solid rgba(128, 128, 128, 0.478);
  background-color: rgba(255, 166, 0, 0.368)

}

#cal {
  margin-top: 15px;
  margin-left: 210px;
}

#display {
  width: 460px;
  height: 12vh;
  border: 2px solid rgb(128, 128, 128);
  border-radius: 7px;
  margin-top: 12px;
  margin-left: 20px;
  font-size: 35px;
  overflow: auto;
  background-color: black;
  color: antiquewhite;
  
}

#c {
  padding: 18px 58px;
  margin-top: 10px;
  border-radius: 7px;
  border: none;
  background-color: rgba(128, 128, 128, 0.533);
  color: whitesmoke;
}


#buttons{

display: flex;
justify-content: space-evenly;

}

#buttons2{

  display: flex;
  justify-content: space-evenly;
 
  
  }
